{{#each cart.products}}
<div>
    <h3> {{title}}</h3>
    <p>description: {{description}}</p>
    <p>price: {{price}}</p>
    <p>code: {{code}}</p>
    <p>stock: {{stock}}</p>
    <p>thumbnails: {{thumbnails}}</p>
</div>
{{/each}}